<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cz.kohnh.moro.users.UserMapper">

    <resultMap id="UserResultMap" type="cz.kohnh.moro.users.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="user_name" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id="selectUserById" resultMap="UserResultMap">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="map" keyProperty="user.id" keyColumn="id">
    	<selectKey resultType="int" keyProperty="id" order="BEFORE" >
        	SELECT NEXTVAL('users_id_seq')
    	</selectKey>
        INSERT INTO users (id, name, user_name, password)
        VALUES (#{id}, #{name}, #{username}, #{password})
    </insert>

    <update id="updateUser">
        UPDATE users
        SET name = #{name}, user_name = #{username}, password = #{password}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <select id="selectAllUsers" resultMap="UserResultMap">
        SELECT * FROM users
    </select>
    
    <select id="selectByUsername" resultMap="UserResultMap">
        SELECT * FROM users WHERE user_name = #{username}
    </select>

</mapper>
